<!DOCTYPE htl>
<html>
	<head>
		<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>

	<body>

		<span id="starField"></span>
		<br>
		<button type="button" id="one" onclick="makeStar(1)">1</button>
		<button type="button" id="two" onclick="makeStar(2)">2</button>
		<button type="button" id="three" onclick="makeStar(3)">3</button>
		<br>
		<button type="button" id="four" onclick="makeStar(4)">4</button>
		<button type="button" id="five" onclick="makeStar(5)">5</button>
		<button type="button" id="six" onclick="makeStar(6)">6</button>
		<br>
		<button type="button" id="seven" onclick="makeStar(7)">7</button>
		<button type="button" id="eight" onclick="makeStar(8)">8</button>
		<button type="button" id="nine" onclick="makeStar(9)">9</button>
		<br>
		<button type="button" id="zero" onclick="makeStar(0)">0</button>
		<br>
		<button type="button" id="submit" onclick="submitPin()">submit</button>

	</body>

</html>
